
body, html{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex; /*os elementos vão se posicionar lado a lado*/
    flex-direction: column; /*agr os elementos vao ficar em coluna*/
    align-items: center; /*centralizar os elementos no meio*/
    justify-content: center; /*centraliza tb(eixo y),porem preciso definir a altura*/
    background-color: #F0F8FF;
    color:#1C1C1C ;
    font-family: 'Roboto Mono', monospace;
}   

img{
    width: 300px;
    height: 300px;

}

h2{
    margin-bottom: 5px;
}

.descricao{
    width: 300px;
}

.duracao{
    width: 300px;
    margin-top: 25px;

}

.barra{
    width: 300px;
    height: 6px;
    border:1px solid red;
    border-radius: 5px;
    display: flex;
    align-items: center; /*vai centralizar o ponto na barra*/
    justify-content: flex-start;
}

progress{
    height: 6px;
    width: 50%;
    background-color: #333;
  
}

.ponto{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    margin-left: -2px;
}

.tempo{
    display: flex;
    width: 300px;
    justify-content: space-between; /*da o max de espaço entre os elementos*/
}

.player{
    width: 300px;
    display: flex;
    justify-content: space-around; /*vai separar um pouco os elementos*/
    align-items: center;
    margin-top: 15px;
}

.botao-play, .botao-pause{
    font-size: 50px;
    cursor: pointer;
}

.setas{
    font-size: 40px;
    cursor: pointer;
}

.botao-pause{
    display: none; /*esconde o botao de pause*/
    cursor: pointer;
}

